Reply:
<%= form_for :message, url: reply_conversation_path, method: :post, remote: true do |f| %>
  <%= f.text_area :body, class: :"form-control" %><br>
  <div class="btn-group" role="group">
    <%= f.submit "Send Message", class: 'btn btn-default' %>
    <%= submit_tag 'Clear Reply Box', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>
